
<ion-view class="center" view-title="Education">
    <ion-content class=" padding backimg7">
<div></div>

            <div class="divane4 chap">
 How to ask a question
            </div>
        <div class="divane5 chap">
Put your question fully in the relevant section
             Put your question fully in the relevant section
             Put your question fully in the relevant section
        </div>
<div class="divane6"></div>
        <br>
<div class="divane6"></div>
        <br>
<div class="divane6"></div>




        <div class="divane4 chap">
How to answer questions
        </div>
        <div class="divane5 chap">
            Put your question fully in the relevant section
             Put your question fully in the relevant section
             Put your question fully in the relevant section
        </div>
        <div class="divane6"></div>
        <br>
        <div class="divane6"></div>
        <br>
        <div class="divane6"></div>



        <div class="divane4 chap">
How to use the immediate and private section
        </div>
        <div class="divane5 chap">
Put your question fully in the relevant section
             Put your question fully in the relevant section
             Put your question fully in the relevant section
        </div>
        <div class="divane6"></div>
        <br>
        <div class="divane6"></div>
        <br>
        <div class="divane6"></div>
    </ion-content>
</ion-view>