body{
    background: url(../img/BG.png);
}

.sizedown{

    height:80px;
    width:80px;
    margin-right: 20px;
    margin-top: 10px;

}
.sizedown:hover{

    transition: 1s all ease;

    opacity: .5;
}


.sizedown2{
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

}
.sizedown2{

    height:130px;
    width:130px;
    margin-right: 20px;
    margin-top: 10px;

}
.sizedown2:hover{


    -webkit-filter: drop-shadow(5px 0 1px #0bff01)
    drop-shadow(0 -5px 1px #0bff01)
    drop-shadow(0 5px 1px #0bff01)
    drop-shadow(-5px 0 1px #0bff01);
}